---
layout: page
title: Demo Map
permalink: /demo_map
---
<link rel="stylesheet" href="/css/leaflet.css" />
<link rel="stylesheet" href="/css/leaflet-search.min.css" />
<script src="/js/leaflet.js"></script>
<script src="/js/leaflet-search.src.js"></script>
<div id="map" style="width: 100vw; height: calc(100vh - 155px); position: absolute; bottom: 0; left: 0;"></div>
<script src="/js/demomap.js"></script>